# APP
NODE_ENV=development
PORT=2022
MAX_REQUEST_SIZE=50mb

# API PREFIX URL
BASE_PATH=/

# DATABASE CONFIG
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=quanlh
DB_PASSWORD=Quan@1999
DB_NAME=qr-code

# SEED DATA
NEED_SEED_DATA=users

# Token expire time
# Ex: 300
TOKEN_EXPIRED_IN=300
REFRESH_TOKEN_EXPIRED_IN=86400
JWT_SECRET_ACCESS_TOKEN_KEY=s@cret
JWT_SECRET_REFRESH_TOKEN_KEY=s@cret

# CORS
CORS_WHITE_LIST=http://localhost:8080

# GOOGLE
GOOGLE_CLIENT_ID=string
GOOGLE_CLIENT_SECRET=string

#AWS
AWS_ACCESS_KEY_ID=string
AWS_SECRET_ACCESS_KEY=string
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=aws_s3_bucket
AWS_S3_DOMAIN=aws_s3_domain